/* CSS reset code*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}


/* remember to define focus styles! */

:focus {
  outline: 0;
}


/* remember to highlight inserts somehow! */

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
.header{
  width: 480px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix {
  *zoom: 1;
}

.clearfix::before, .clearfix::after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix::after {
  clear: both;
}

.header .title {
  font-size: 3.125em;
  color: #776E65;
  font-weight: 700;
}

.score {
  width: 90px;
  background: #BBADA0;
  margin-left: 20px;
  height: 50px;
  border-radius: 5px;
  font-size: 22px;
  color: #fff;
  text-align: center;
}

.score .score-title {
  display: block;
  padding-top: 4px;
}

.tips {
  clear: both;
  padding: 15px 0;
  color: #776E65;
}

.button-group {
  font-weight: 700;
  color: #FF9900;
  font-size: 20px;
}

.btn {
  display: inline-block;
  cursor: pointer;
}

.brick {
  background: #CCC0B3;
  float: left;
  text-align: center;
  border-radius: 5px;
}

.game-desk {
  width: 480px;
}

.clear{
  clear: both;
}

.element-2{
	color: #776E65;
	background: #EEE4DA;
}
.element-4{
	
	color: #776E65;
	background: #EDE0C8;
}
.element-8{
	
	color: #f9f6f2;
	background: #f2b179;
}
.element-16{
	
	color: #f9f6f2;
	background: #f59563;
}
.element-32{
	
	color: #f9f6f2;
	background: #f67c5f;
}
.element-64{
	
	color: #f9f6f2;
	background: #f65e3b;
}
.element-128{
	
	color: #f9f6f2;
	background: #edcf72;
}
.element-256{
	
	color: #f9f6f2;
	background: #edcc61;
}
.element-512{
	
	color: #f9f6f2;
	background: #edc850;
}
.element-1024{
	
	color: #f9f6f2;
	background: #edc53f;
}
.element-2048{
	
	color: #f9f6f2;
	background: #edc22e;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
}
.element-4096{
	
	color: #f9f6f2;
	background: #edc22e;
}
.element-8192{
	
	color: #f9f6f2;
	background: #edc22e;
}